<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css">
</head>
<body>
<div class="container">
    <div id="app"></div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="bower_components/vue/dist/vue.js"></script>
<script src="v-form.js"></script>
<script src="v-form-bs3.js"></script>
<script>
    Vue.use(VForm);

    new Vue({
        el: '#app',
        data: {
            choices: {
                'A': 'A',
                'B': 'B',
                'C': 'C'
            },
            value: {
                duration: 86400
            },
            error: {}
        },
        template:
            '<div>' +
            '<div><VFormCheckbox v-model="value.cb" v-bind:error.sync="error.cb" v-validate="{required: true}" /></div>' +
            '<div><VFormRadio v-model="value.r" name="a" check="0" v-bind:error.sync="error.r" v-validate="{required: true}" /></div>' +
            '<div><VFormRadio v-model="value.r" name="a" check="1" v-bind:error.sync="error.r" v-validate="{required: true}" /></div>' +
            '<div><VFormChoice v-model="value.c1" v-bind:error.sync="error.c1" :choices="choices" v-validate="{required: true}" /></div>' +
            '<div><VFormChoice v-model="value.c2" v-bind:error.sync="error.c2" :choices="choices" :expanded="true" :multiple="false" v-validate="{required: true}" /></div>' +
            '<div><VFormChoice v-model="value.c3" v-bind:error.sync="error.c3" :choices="choices" :expanded="true" :multiple="true" v-validate="{required: true}" /></div>' +
            '<div><VFormDate v-model="value.date" v-bind:error.sync="error.date" v-validate="{required: true}" /></div>' +
            '<div><VFormTime v-model="value.time" v-bind:error.sync="error.time" v-validate="{required: true}" /></div>' +
            '<div><VFormInput v-model="value.input" v-bind:error.sync="error.input" v-validate="{required: true}" /></div>' +
            '<div><VFormNumber v-model="value.number" v-bind:error.sync="error.number" v-validate="{required: true}" /></div>' +
            '<div><VFormRange v-model="value.range" v-bind:error.sync="error.range" v-validate="{required: true}" /></div>' +
            '<div><VFormDuration v-model="value.duration" v-bind:error.sync="error.duration" v-validate="{required: true}" /></div>' +
            '<div><VFormTextarea v-model="value.text" v-bind:error.sync="error.text" v-validate="{required: true}" /></div>' +
            '<VFormGroup v-bind:error.sync="error.input" label="Input<br>a">' +
            '    <VFormInput v-model="value.input" v-bind:error.sync="error.input" v-validate="{required: true}" />' +
            '    <div class="help-block">' +
            '        <div v-if="error.input && !error.input.required">Field is required</div>' +
            '    </div>' +
            '</VFormGroup>' +
            '{{value}}{{error}}' +
            '</div>'
    });
</script>
</body>
</html>
