<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div id="app"></div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/vue/dist/vue.js"></script>
<script src="v-form.js"></script>
<script src="v-form-input.js"></script>
<script src="v-form-checkbox.js"></script>
<script src="v-form-radio.js"></script>
<script src="v-form-validate.js"></script>
<script>
    Vue.use(VForm);

    new Vue({
        el: '#app',
        data: {
            value: {},
            error: {}
        },
        template:
            '<div>' +
            '<VFormCheckbox v-model="value.cb" v-bind:error.sync="error.cb" v-validate-rules="{required: true}" />' +
            '<VFormRadio v-model="value.r" name="a" check="0" v-bind:error.sync="error.r" v-validate-rules="{required: true}" />' +
            '<VFormRadio v-model="value.r" name="a" check="1" v-bind:error.sync="error.r" v-validate-rules="{required: true}" />' +
            '<VFormInput v-model="value.input" v-bind:error.sync="error.input" v-validate-rules="{required: true}" />' +
            '{{value}}{{error}}' +
            '</div>'
    });
</script>
</body>
</html>
