<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div id="app"></div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/vue/dist/vue.js"></script>
<script src="vue-form.js"></script>
<script>
    Vue.use(VueForm);

    Vue.component('vue-form', {
        data: function () {
            return {
                data: {
                    collection: []
                }
            };
        },
        template:
            '<form class="form-horizontal" v-on:submit.prevent>' +
            '    <v-form-collection v-model="data.collection" ref="children" :min-children="2" :max-children="5" entry-defaults="AAA" :allow-insert="true" :allow-delete="true">' +
            '        <v-form-input slot-scope="{value: value}" v-model="value" v-on:input="value = $event">{{ value }}</v-form-input>' +
            '    </v-form-collection>' +
            // '    <v-form-group>' +
            // '        <v-form-label />' +
            // '        <v-form-input />' +
            // '        <v-form-error />' +
            // '    </v-form-group>' +
            '    <div class="clearfix" v-on:click="validate">{{ data }}</div>' +
            '</form>',
        methods: {
            test2: function () { console.log(arguments); },
            validate: function () {
                var valid;

                if (Array.isArray(this.$refs.children)) {
                    this.$refs.children.forEach(function (child) {
                        child.validate()
                    });
                } else {
                    this.$refs.children.validate();
                }
            }
        }
    });

    Vue.component('list', {
        props: {
            items:{
                type:    Array,
                default: function () { return []; }
            }
        },
        template:
            '<div>' +
            '    <div v-for="item in items">' +
            '        <slot :item="item">' +
            '            <!-- fallback content here -->' +
            '        </slot>' +
            '        <button>A</button>' +
            '    </div>' +
            '</div>',
        mounted: function () {
            this.$nextTick(function () {
                console.log(this);
            });
        }
    });

    Vue.component('test', {
        data: function () {
            return {
                items: [
                    {text: 'A'},
                    {text: 'B'}
                ]
            };
        },
        template:
            '<list :items="items">' +
            '    <div slot-scope="{item: item}">' +
            '       {{ item.text }}' +
            '    </div>' +
            '</list>'
    });

    new Vue({
        el: '#app',
        template: '<div><vue-form></vue-form><test></test></div>'
    });
</script>
</body>
</html>
